<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>



  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Visão geral
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Produtos
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Delivery
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Lucro
  </a>
  <a mat-list-item>
    <mat-icon>edit</mat-icon> Produção
  </a>

</mat-nav-list>
